body{
    background-color: rgba(0, 255, 255, 0.541);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.main{
    margin-left: 450px;
    display: flex;
    background-color: white;
    border-radius: 5px  ;
    width:600px;
    height:630px;
    padding-left: 50px;
    margin-top: 30px;
    color:grey;
}
a{
    text-decoration: none;
    color:white;
}
#back{
    font-size:16px ;
    padding-top: 5px;
    
}
hr{
    
    color:grey;
}
input{
    margin-left: 50px;
    margin-top: 20px;
    width:400px;
    height:30px;
    border: none;
   
}

#submit-field{
    width:200px;
    margin-top: 40px;
    background-color: blue;
    color:white;
    border: none;
    margin-left: 170px;
    border-radius: 5px;
    cursor: pointer;
}

#cancel{
    border-radius: 5px;
    border: none;
    color:white;cursor: pointer;
    width:200px;
    margin-top: 40px;
    height:30px;
    background-color: rgba(255, 0, 0, 0.735);
}




#ownername{
    margin-left: 50px;
}

#description{
    margin-left: 45px;
}
#startdate{
    margin-left: 55px;
    border: none;}

#duedate{
    margin-left: 58px;
    border: none;
}
#periority{
    margin-left:65px;
    margin-top: 10px;
    width:405px;
    height:30px;
    border: none;
}
#status{
    margin-left: 80px;
    margin-top: 10px;
    width:405px;
    height:30px;
    border: none;

}



#title{
    background-color: green;
    height: 40px;
    padding-top: 10px;
    border-radius: 5px;
    color:white;
    padding-left: 30px;
    font-weight: bold;
}

// .notification{
//     text-align: center;
//     background-color: rgba(22, 60, 22, 0.543);
//     width:500px;height:30px;
//     margin-left:500px;
//     border-radius: 5px;
//     color:white;
//     display: none;
// }

.notification{
    text-align: center;
    font-size: 16px;
}