<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PeopleSyncPlus - HRMS</title>
    <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='Assets/PSP_Icon.png') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1>PeopleSyncPlus</h1>
            <div class="signin">
                <a href="{{ url_for('signin') }}" class="btn">Sign In</a>
            </div>
        </div>
    </header>
    <main>
        <section class="hero">
            <img src="{{ url_for('static', filename='Assets/PSP_Icon.png') }}" alt="PeopleSyncPlus Logo">
            <h2>Streamline Your HR Operations</h2>
            <p>Empower your organization with seamless HR management solutions, from payroll to employee engagement.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 PeopleSyncPlus. All rights reserved.</p>
    </footer>
</body>
</html>